*,
*::after,
*::before,
*:after,
*:before {
  margin: 0;
  padding: 0;
  @include border-box();
}

div {
  display: flex;
  float: left;
  justify-content: space-evenly;
}

html {
  box-sizing: border-box;
  background: linear-gradient(110deg, rgba($cjmt-gray-100-rgb, .20) 15%, rgba($cjmt-gray-200-rgb, .30) 25%, rgba($cjmt-gray-400-rgb, .40) 35%, rgba($cjmt-gray-600-rgb, .50) 45%, rgba($gray-800-rgb, .65) 55%, rgba($cjmt-chocolate-rgb, .90) 85%, rgba($cjmt-chocolate-rgb, .95) 90%);
  z-index: $z-index-html-body;
}

body,
html {
  float: left;
  overflow: hidden;
  align-items: left;
  justify-content: flex-start;
  height: auto;
  width: auto;
  margin: 0;
  font-size: 100%;
}

body,
body .page {
  position: fixed;
  margin: 0.75rem 0.65rem;
  overflow: hidden;
  background-color: $white;
  opacity: 100%;
  border-radius: $border-radius-xl;
  background-image: linear-gradient(120deg, rgba($cjmt-white-rgb, .7) , rgba($cjmt-saltpan-rgb, .5));
}

.page {
  @include make-grid();
  height: auto;
  width: auto;
  margin: 0.25rem;
}
