/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero
{
    width: 100%;
    height: 100vh;

    background: url('../img/hero-bg.jpg') top center;
    background-size: cover;
}
#hero:before
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    border-radius: $border-radius;
    background: rgba(5, 13, 24, .3);
}
#hero .hero-container
{
    position: relative;
    z-index: 2;

    min-width: 300px;

    border-radius: $border-radius;
}
#hero h1
{
    font-family: $site-title-font;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;

    margin: 0 0 10px 0;

    color: #fff;
}
#hero p
{
    font-family: $page-title-font;
    font-size: 26px;

    margin-bottom: 50px;

    color: #fff;
}
#hero p span
{
    padding-bottom: 4px;

    letter-spacing: 1px;

    color: #fff;
    border-bottom: 3px solid #149ddd;
}
@media (min-width: 1024px)
{
    #hero
    {
        background-attachment: fixed;
    }
}
@media (max-width: 768px)
{
    #hero h1
    {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2
    {
        font-size: 18px;
        line-height: 24px;

        margin-bottom: 30px;
    }
}
