/* Next/Previous navigation */

// All navigation
.navigation
{
    color: $primary-color;

    a
    {
        text-decoration: none;

        color: $active-color;

        &:hover
        {
            text-decoration: $link-hover-decoration;

            color: $hover-color;
        }

        &:focus
        {
            color: $focus-color;
        }

        &:active
        {
            color: $active-color;
        }
    }

    .nav-links
    {
        @include media(tablet)
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .nav-next,
            .nav-previous
            {
                flex: 0 1 auto;

                max-width: 50% - (.5 * $base-unit);
                margin-top: inherit;
                margin-bottom: inherit;
            }

            .nav-next
            {
                text-align: right;
            }
        }
         > *
        {
            min-width: 44px;
            min-height: 44px;
        }

        .nav-next a,
        .nav-previous a
        {
            display: flex;
            flex-direction: column;
        }

        .dots
        {
            text-align: center;
        }
    }

    .svg-icon
    {
        position: relative;

        display: inline-block;

        vertical-align: middle;

        fill: currentColor;
    }

    .nav-previous .svg-icon,
    .prev .svg-icon
    {
        top: -2px;

        margin-right: .25 * $spacer;
    }

    .nav-next .svg-icon,
    .next .svg-icon
    {
        top: -1px;

        margin-left: $spacer-2;
    }
}

// Singular navigation
.post-navigation
{
    margin: $spacer auto;

    @include media(desktop)
    {
        margin: $spacer auto;
    }
    @extend %responsive-alignwide-width;

    .meta-nav
    {
        line-height: $line-height-body;

        color: $purple;
    }

    .post-title
    {
        font-family: $post-title-font-family;
        font-size: $h3-font-size;
        font-weight: $font-weight-bold;
        line-height: $large-line-height;

        display: inline-block;

        @include media(desktop)
        {
            margin: 5px calc(24px + (.25 * $base-unit)) 0;
        }
    }

    .nav-links
    {
        @include media(mobile)
        {
            justify-content: space-between;
        }
    }

    .nav-next,
    .nav-previous
    {
        margin-top: $spacer;
        margin-bottom: $spacer;

        &:first-child
        {
            margin-top: 0;
        }

        &:last-child
        {
            margin-bottom: 0;
        }
    }
}

// Index/archive navigation
.pagination,
.comments-pagination
{
    margin: $spacer auto;
    padding-top: $spacer;

    border-top: 3px solid $color-border;

    @include media(desktop)
    {
        margin: $spacer auto;
    }
    @extend %responsive-alignwide-width;
    @include media(desktop-only)
    {
        .nav-links
        {
            display: flex;
            flex-wrap: wrap;
        }

        .page-numbers
        {
            display: none;

            &.prev,
            &.next
            {
                display: inline-block;
                flex: 0 1 auto;
            }
        }
    }
    @include media(mobile-only)
    {
        .nav-short
        {
            display: none;
        }
    }

    // Resets the top margin added to the .nav-links items below.
    .nav-links
    {
        margin-top: $spacer-n2;

        a:hover
        {
            color: $color-link-hover;
        }

        .is-dark-theme &
        {
            a:active,
            a:hover:active,
            a:hover:focus
            {
                color: $color-background;
            }
        }

        .has-background-white &
        {
            a:active,
            a:hover:active,
            a:hover:focus
            {
                color: $color-white;
            }
        }
    }

    .nav-links > *
    {
        font-family: 'Wanda';
        font-size: $base-unit;
        font-weight: $font-weight-bold;

        margin-top: $spacer;
        margin-right: .66 * $base-unit;
        margin-left: .66 * $base-unit;

        color: $body-color;

        &.current
        {
            text-decoration: underline;
        }

        &:not(.dots):not(.current):hover
        {
            text-decoration-style: dotted;
        }

        &:first-child
        {
            margin-left: 0;
        }

        &:last-child
        {
            margin-right: 0;
        }

        &.next
        {
            margin-left: auto;
        }

        &.prev
        {
            margin-right: auto;
        }
    }
}

// Comments pagination
.comments-pagination
{
    margin: (3 * $base-unit) auto;
    padding-top: .66 * $base-unit;

    @include media(desktop)
    {
        margin: (3 * $base-unit) auto (4 * $base-unit) auto;
    }

    .nav-links > *
    {
        font-size: $base-unit;
    }
}
