// scss-docs-start form-file-variables
$form-file-button-color:          $input-text-color;
$form-file-button-bg:             $input-bg-color;
$form-file-button-hover-bg:       $form-file-button-hover-bg-color;
// scss-docs-end form-file-variables
