// scss-docs-start form-text-variables
$form-text-margin-top: .25rem;
$form-text-font-size: $font-size-sm;
$form-text-font-style: null;
$form-text-font-weight: null;
$form-text-color: text-muted-color;
// scss-docs-end form-text-variables
