// scss-docs-start form-text-variables
$form-text-margin-top: .25rem;
$form-text-font-size: $small-font-size;
$form-text-font-style: null;
$form-text-font-weight: null;
$form-text-color: $muted;
// scss-docs-end form-text-variables
