// scss-docs-start input-group-variables
$input-group-addon-padding-y:           $input-offset-y;
$input-group-addon-padding-x:           $input-offset-x;
$input-group-addon-font-weight:         $input-font-weight;
$input-group-addon-color:               $input-text-color;
$input-group-addon-bg:                  $input-bg-color;
$input-group-addon-border-color:        $input-border-color;
// scss-docs-end input-group-variables
