// Dropdowns
//
// Dropdown menu container and contents.

// scss-docs-start dropdown-variables
$dropdown-min-width: 10rem;
$dropdown-padding-x: 0;
$dropdown-padding-y: .5rem;
$dropdown-spacer: .125rem;
$dropdown-font-size: $base-unit;
$dropdown-color: $body;
$dropdown-bg: $body-bg-color;
$dropdown-border-color: rgba($black, .15);
$dropdown-border-radius: $border-radius;
$dropdown-border-width: $border-width;
$dropdown-inner-border-radius: subtract($dropdown-border-radius, $dropdown-border-width);
$dropdown-divider-bg: $divider;
$dropdown-divider-margin-y: $base-unit * .5;
$dropdown-box-shadow: $box-shadow;

$dropdown-link-color: $body;
$dropdown-link-hover-color: shade-color($dropdown-link-color, 10%);
$dropdown-link-hover-bg: $body-bg-color;

$dropdown-link-active-color: $active;
$dropdown-link-active-bg: $active-bg;

$dropdown-link-disabled-color: $disabled;
$dropdown-link-disabled-bg: $disabled-bg;

$dropdown-item-padding-y: $base-unit * .25;
$dropdown-item-padding-x: $base-unit;

$dropdown-header-color: $primary;
$dropdown-header-padding: $dropdown-padding-y $dropdown-item-padding-x;
// scss-docs-end dropdown-variables

// scss-docs-start dropdown-dark-variables
$dropdown-dark-color: $body-bg-color;
$dropdown-dark-bg: $body;
$dropdown-dark-border-color: $body-bg-color;
$dropdown-dark-divider-bg: $accent;
$dropdown-dark-box-shadow: null;
$dropdown-dark-link-color: $body-bg-color;
$dropdown-dark-link-hover-color: $hover;
$dropdown-dark-link-hover-bg: $hover-bg;
$dropdown-dark-link-active-color: $active;
$dropdown-dark-link-active-bg: $active-bg;
$dropdown-dark-link-disabled-color: $disabled;
$dropdown-dark-header-color: $primary;
// scss-docs-end dropdown-dark-variables
