
$caption-font-family: 'Glass Antiqua';
$figure-caption-font-size: var(--sm) !default;$thumbnail-padding: $spacer / 4 !default;
$thumbnail-border-radius: $border-radius !default;

// Image thumbnails

// scss-docs-start thumbnail-variables
$thumbnail-padding:                 .25rem !default;
$thumbnail-bg:                      $body-bg !default;
$thumbnail-border-width:            $border-width !default;
$thumbnail-border-color:            $primary-color !default;
$thumbnail-border-radius:           $border-radius !default;
$thumbnail-box-shadow:              $box-shadow-sm !default;
// scss-docs-end thumbnail-variables


// Figures

// scss-docs-start figure-variables
$figure-caption-font-size:          $small-font-size !default;
$figure-caption-color:              $primary-color !default;
// scss-docs-end figure-variables
