/**
 * ## Z-Index
 =========================*/
$z-index-page: 100;
$z-index-sidebar: 325;
$z-index-article: 400;
$z-index-decorative-blue-ribbon: 440;
$z-index-nav: 450;
$z-index-header: 500;
$z-index-author-name: 515;
$z-index-site-title: 525;
$z-index-main-navigation: 550;
$z-index-footer: 700;
$z-index-site-information: 800;

$z-index-html-body: 850;
$z-index-main: 725;
$z-index-page: 850;

$z-index-nav-tabs: 900;


$z-index-dropdown: 1000;
$z-index-sticky: 1020;
$z-index-fixed: 1030;
$z-index-offcanvas-backdrop: 1040;
$z-index-offcanvas: 1045;
$z-index-modal-backdrop: 1050;
$z-index-modal: 1055;
$z-index-popover: 1070;
$z-index-tooltip: 1080;
