
$nav-tabs-border-color:             $primary-color !default;
$nav-tabs-border-width:             $border-width !default;
$nav-tabs-border-radius:            $border-radius !default;
$nav-tabs-link-hover-border-color:  $primary-color $primary-color $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $primary-color;
$nav-tabs-link-active-bg:           $tabs-active-bg;
$nav-tabs-link-active-border-color: $primary-color $primary-color $nav-tabs-link-active-bg !default;



$nav-tabs-border-color:             $primary-color !default;
$nav-tabs-border-width:             $border-width !default;
$nav-tabs-border-radius:            $border-radius !default;
$nav-tabs-link-hover-border-color:  $primary-color $primary-color $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $primary-color !default;
$nav-tabs-link-active-bg:           $body-bg !default;
$nav-tabs-link-active-border-color: $primary-color $primary-color $nav-tabs-link-active-bg !default;
