/* ________________________________________________________ Base */
/* Basic typography style for copy text
 */
body,
button,
input,
select,
textarea {
  font-size: 100%;
  width: 100%;
  height: 1rem * 1.5;
  padding: 0 divide(1rem, 2);
  border: solid 1px $black;
  border-radius: 0;
  background-color: $body-bg;
}


/**
 * Set up a decent box model on the root element
 */
html {
  @include box-sizing(border-box);
  font-family: $sans-serif;
  font-weight: $font-weight-normal;
  color: $text;
  line-height: $line-height-base;
  font-size: $font-size-base;
  @media only screen and (min-width: $breakpoint-sm) {
    font-size: $font-size-sm;
  }
  @media only screen and (min-width: $breakpoint-lg) {
    font-size: $font-size-base;
  }
}

body {
  color: $text;
  font-family: $text-font;
  font-size: $font-size-base;
  line-height: $line-height-base;
  @include font-size($font-size-base);
}

dl,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
ul {
  margin-bottom: $base-unit;

  & :last-child {
    margin-bottom: 0;
  }
}
