/* # MAIN
================================================================== */
.main {
  position: absolute;
  top: 1.25rem;
  right: 2rem;
  bottom: 0.25rem;
  left: 2rem;
  display: grid;
  width: auto;
  padding: 0.5rem 2rem 0.5rem 1.5rem;
  z-index: $z-index-main;
}
