/* =Navigation
----------------------------------------------- */

/* Older/Newer Post Navigation */

.site-content .site-navigation {

}
.site-content .nav-previous {
	float: left;
	width: 50%;
}
.site-content .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
