/* Tables –––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  caption-side: bottom;
  margin: 0 0 $base-unit;
  border-spacing: 0;
  border-collapse: collapse;

  td,
  th {
    text-align: left;
  }
}

th {
  font-weight: bold;
  text-align: inherit; // 2
  text-align: -webkit-match-parent; // 3
}

td,
th {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;

  td:first-child,
  th:first-child {
    padding-left: 0;
  }

  td:last-child,
  th:last-child {
    padding-right: 0;
  }
}

caption {
  padding-top: $table-cell-padding-y;
  padding-bottom: $table-cell-padding-y;
  color: $table-caption-color;
  text-align: left;
}

textarea {
  overflow: auto;
  min-height: $spacer-md * 4;
  white-space: revert;
  resize: vertical;
  vertical-align: top;
}

caption,
tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  font-weight: bold;
  text-align: left;
}
