

$theme-colors: (
primary-color               : $primary-color,
secondary-color             : $secondary-color,
accent-color                : $accent-color,
valid-color                 : $valid-color,
info-color                  : $info-color,
alert-color                 : $alert-color,
invalid-color               : $invalid-color,
attention-color             : $attention-color
);


$utilities-text-colors: map-loop($utilities-text, rgba-css-var, "$key", "text");
